%heading {
	font-family: $font-display;
	font-weight: 400;
}

.heading_1 {
	@extend %heading;
	font-size: 4.5rem;
	color: $color-grey-light-1;
	line-height: 1;
}
.heading_2 {
	@extend %heading;
	font-size: 4rem;
	font-style: italic;
	line-height: 1;

	&__light {
		color: $color-grey-light-1;
	}
	&__dark {
		color: $color-grey-dark-1;
	}
}
.heading_3 {
	@extend %heading;
	font-size: 1.6rem;
	color: $color-primary;
	text-transform: uppercase;
}
.heading_4 {
	@extend %heading;
	font-size: 1.9rem;

	&__light {
		color: $color-grey-light-1;
	}
	&__dark {
		color: $color-grey-dark-1;
	}
}

.heading_5 {
	@extend %heading;
	font-size: 3.5rem;
	font-weight: 300;
	color: $color-primary;
}

.btn {
	background-color: $color-primary;
	color: #fff;
	border: none;
	border-radius: 0;
	font-family: $font-display;
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1.8rem 3rem;
	transition: all .2s;

	&:hover {
		background-color: $color-primary-dark;
	}
}

.mb_sm {
	margin-bottom: 2rem;
}
.mb_md {
	margin-bottom: 3rem;
}
.mb_lg {
	margin-bottom: 4rem;
}
.mb_hg {
	margin-bottom: 8rem;
}
